
{% extends 'nav_base.html' %}
{% load static %}


{% block content %}
 <div class="table">
            <div class="cell">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="welcome_text">
                                <h1>Our Branches </h1>
                                <h1>for your services</h1>
                        </div>
                    </div>
                    </div>



</section>
      <div class="col-lg-4 col-md-6">

                            <img src="https://static.techspot.com/images2/news/bigimage/2019/11/2019-11-21-image-6.png" alt="">
                            <a href="#" class="prise">$500</a>


                            <a href="destination_details.html"><h3>California</h3></a>
                            <p>United State of America</p>


                                    <a href="#">5 Days</a>
      </div>
                    <div class="col-lg-4 col-md-6">

                            <img src="https://static.techspot.com/images2/news/bigimage/2019/11/2019-11-21-image-6.png" alt="">
                            <a href="#" class="prise">$500</a>


                            <a href="destination_details.html"><h3>California</h3></a>
                            <p>United State of America</p>


                                    <a href="#">5 Days</a>
      </div>
                    <div class="col-lg-4 col-md-6">

                            <img src="https://static.techspot.com/images2/news/bigimage/2019/11/2019-11-21-image-6.png" alt="">
                            <a href="#" class="prise">$500</a>


                            <a href="destination_details.html"><h3>California</h3></a>
                            <p>United State of America</p>


                                    <a href="#">5 Days</a>
      </div>
                    <div class="col-lg-4 col-md-6">

                            <img src="https://static.techspot.com/images2/news/bigimage/2019/11/2019-11-21-image-6.png" alt="">
                            <a href="#" class="prise">$500</a>


                            <a href="destination_details.html"><h3>California</h3></a>
                            <p>United State of America</p>


                                    <a href="#">5 Days</a>
      </div>



{% endblock %}
