<!doctype html>
{% if request.user.is_authenticated == False %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Sign in</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">


    <form class="form-signin" method = "post" action="{%url 'login' %}">

      {% if form.error %}
  <div class="alert alert-danger" role="alert"> There is something wrong with what you entered.</div>
  {% endif %}

  {%if next %}
      <div class="alert alert-danger" role="alert">You can't access this page!!</div>
  {% endif %}


      <img class="mb-4" src="logo.jpg" alt="" width="72" height="72"> logo
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
<!--    <label for="username" class="sr-only">Email address</label>-->
        {%csrf_token %}
      {{form.username.label_tag}}
      {{form.username}}

<!--      <input type="text" name="username" id="username" class="form-control" placeholder="User Name" required autofocus>-->
<!--      <label for="Password" class="sr-only">Password</label>-->
<!--      <input type="password" name=password id="Password" class="form-control" placeholder="Password" required>-->
      {{form.password.label_tag}}
      {{form.password}}
       {{form.errors}}
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>

    </form>
  {% endif %}
{% if request.user.is_authenticated == True %}
<div> <h2>You are already log in as <a href="/success">{{user.username}},</a> </div>
 <li> <form method="POST" action="/logout/">
                             {% csrf_token %}
                            <input type="submit" value="Logout">
                         </form>  </li>
    {% endif %}
  </body>

</html>

